<style>
    .ngdialog-overlay {
    background: rgba(0,0,0,.6) !important;
}
    
</style>
<div class="ngdialog-message">
    <div class="row">
        <h4>Change priority</h4>
        <div class="large-12 columns">
            <div class="row collapse prefix-radius">
                <div class="small-7 columns">
                    <span class="prefix" style="color:#000 !important;">New Priority value</span>
                </div>
                <div class="small-5 columns end">
                    <input type="number" placeholder="Value" class="" value="99">
                </div>
            </div>
        </div>
    </div>
    <form>
        <div class="row ">
            <div class="large-12 columns ">
                <ul class="button-group right">
                    <li><a class="button tiny" href="#acquisition">Cancel</a></li>
                    <li><a class="button tiny success" href="#acquisition">Submit</a></li>
                </ul>
            </div>
        </div>
    </form>
</div>

