<div>
    <div class="row collapse productPopupRow">
        <div class="large-12 columns">
        	<span class="productPopupLabel">Title</span> : <span>{{displayedProduct.title}}</span>
        </div>
        <div class="large-12 columns">
        	<span class="productPopupLabel">Identifier</span> : <span>{{displayedProduct.identifier}}</span>
        </div>
        <div class="large-12 columns">
        	<span class="productPopupLabel">Footprint</span> : <span>{{displayedProduct.footprint}}</span>
        </div>
        <div class="large-12 columns">
        	<span class="productPopupLabel">Url</span> : <span>{{displayedProduct.url}}</span>
        </div>
        <div class="large-12 columns">
        	<span class="productPopupLabel">Md5</span> : <span>{{displayedProduct.md5}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">Mission_identifier</span> : <span>{{displayedProduct.mission_identifier}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">Mode_beam</span> : <span>{{displayedProduct.mode_beam}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">Product_type</span> : <span>{{displayedProduct.product_type}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">Processing_level</span> : <span>{{displayedProduct.processing_level}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">Start_sensing_date</span> : <span>{{displayedProduct.start_sensing_date}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">End_sensing_date</span> : <span>{{displayedProduct.end_sensing_date}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">Archive_size</span> : <span>{{displayedProduct.archive_size}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">Quicklook_size</span> : <span>{{displayedProduct.quicklook_size}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">Attempt_number</span> : <span>{{displayedProduct.attempt_number}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">Priority</span> : <span>{{displayedProduct.priority}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">Download_time</span> : <span>{{displayedProduct.download_time}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">Download_date</span> : <span>{{displayedProduct.download_date}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">Ingest_date</span> : <span>{{displayedProduct.ingest_date}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">Product_status</span> : <span>{{displayedProduct.product_status}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">Swath</span> : <span>{{displayedProduct.swath}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">Polarisation</span> : <span>{{displayedProduct.polarisation}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">Orbit_direction</span> : <span>{{displayedProduct.orbit_direction}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">Orbit_number</span> : <span>{{displayedProduct.orbit_number}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">Missiondata_takeid</span> : <span>{{displayedProduct.missiondata_takeid}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">Datasource_name</span> : <span>{{displayedProduct.datasource_name}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">S2data_takeid</span> : <span>{{displayedProduct.s2data_takeid}}</span>
        </div>
        <div class="large-6 columns">
        	<span class="productPopupLabel">Cloud_cover</span> : <span>{{displayedProduct.cloud_cover}}</span>
        </div>
        <div class="large-6 columns end">
        	<span class="productPopupLabel">Instrument</span> : <span>{{displayedProduct.instrument}}</span>
        </div>
    </div>
</div>