<div class="padding-left-15 padding-right-15">

	<h1 class="margin-top-0">Create Proactive account</h1>
	
	<label class="small fat text-light">login</label>
	<input type="text" ng-model="account.login" class="form-control" required autofocus/>
	
	<label class="small fat text-light">password</label>
	<input type="text" ng-model="account.password" class="form-control" required/>
	
	<div class="padded-top padded-left padded-right center">
		<button type="submit" class="button radius" ng-click="createAccount()">Create account</button>
	</div>
	
	<div class="logMessage">
		<span class="successLog">{{successMessage}}</span>
		<span class="errorLog">{{errorMessage}}</span>
	</div>
	
</div>
