<div class="padding-left-15 padding-right-15">

	<div class="row">
		<div class="large-4 small-12 columns">
			<h1 class="margin-0">WPS rights</h1>
		</div>
		<div class="logMessage large-6 small-12 columns text-right" style="line-height: 51px"">
			<span class="successLog">{{successMessage}}</span>
			<span class="errorLog">{{errorMessage}}</span>
		</div>
		<div class="large-2 small-12 columns text-right">
			<a class="button" ng-click="save()" ng-disabled="!selectedGroup">Save</a>
		</div>
	</div>
	
	<label><b>Group</b></label>
	<select ng-model="selectedGroup"
			ng-change="getWpsGroupRights(selectedGroup.id)"
			ng-options="group.groupname for group in groups track by group.id">
	</select>
	
	<span ng-if="false">
	<label><b>Proactive account</b></label>
	<select ng-model="selectedGroup.proactive"
			ng-disabled="!selectedGroup"
			ng-options="account.login for account in proactiveAccounts track by account.id">
	</select>
	</span>
	
	<table width="100%" role="grid" class="border-none">
		<tr class="border-bottom">
			<th class="text-center">
				<input id="masterCheckbox" type="checkbox" ng-disabled="!selectedGroup"
					   ng-model="masterCheckbox" ng-change="toggleSelection()"/>
				<label for="masterCheckbox"
				       ng-attr-title="{{ masterCheckbox ? 'Unselect all' : 'Select all' | translate }}"></label>
			</th>
			<th width="100%"><label><b>Processing</b></label></th>
		</tr>
		<tr ng-show="!processings.length">
			<td></td>
			<td>
				<img src="assets/css/img/spinner.gif" width="16" height="16" style="vertical-align: text-bottom; margin-right: 5px;"">
				<em>loading...</em>
			</td>
		</tr>
		<tr ng-repeat="processing in processings">
			<td class="text-center padding-left-20">
	            <input id="select{{$index}}" type="checkbox" ng-model="processing.selected" ng-disabled="!selectedGroup"/>
	            <label for="select{{$index}}" class="margin-0 margin-left-15"></label>
			</td>
			<td>
				<label for="select{{$index}}">{{processing.identifier}}</label>
			</td>
		</tr>
	</table>
	
</div>
