<div class="padding-left-15 padding-right-15">

	<div class="row">
		<div class="large-6 small-12 columns">
			<h1 class="margin-0">Groups</h1>
		</div>
		<div class="large-6 small-12 columns text-right">
			<a href="#groupCreation" class="button">{{'Create group'| translate}}</a>
		</div>
	</div>
	
	<div class="tableContainer" ng-show="showGroups">
		<table role="grid">
			<thead>
				<tr>
					<th>{{ 'group id'| translate }}</th>
					<th>{{ 'name'| translate }}</th>
					<th>{{ 'description'| translate }}</th>
					<th>wps?</th>
					<th>Proactive account</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="x in groups" data-ng-click="selectGroup(x)"
					class="clickable">
					<td>{{x.id}}</td>
					<td>{{x.groupname}}</td>
					<td>{{x.description}}</td>
					<td>{{x.canwps === 't' ? 'yes' : 'no'}}</td>
					<td>{{x.proactive.login}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>
