<div ng-show="showProfile" class="profileWrapper">

	<div class="profileProperty">
		<span>{{'group'| translate}}</span>
	    <select ng-model="selectedUser.group"
	          ng-options="group.groupname for group in groups">
	    </select>
	</div>
	
	<div class="profileProperty">
		<span>instant download limit (nb products)<br>(0 = no limit, empty = default limit)</span>
		<input type="number" name="instantLimitDownload" ng-model="selectedUser.instantdownload" required>
	</div>
	
	<div class="profileProperty">
		<span>weekly download limit (nb products)<br>(0 = no limit, empty = default limit)</span>
		<input type="number" name="weeklyLimitDownload" ng-model="selectedUser.weeklydownload" required>
	</div>
	
	<button ng-click="saveProfile()">
		Save profile
	</button>
	
	<div class="logMessage">
		<span class="successLog">{{successMessage}}</span>
		<span class="errorLog">{{errorMessage}}</span>
	</div>
	
</div>