<div class="small-12 large-12 columns">
	
	<h1 class="margin-top-0">Create group</h1>
	
	<label>{{'name'| translate}}</label>
	<input type="text" ng-model="group.name" class="form-control" required autofocus/>

	<label>{{'description'| translate}}</label>
	<input type="text" ng-model="group.description" class="form-control"/>

	<label>can WPS?</label>
	<select ng-model="group.canwps" class="form-control">
		<option value="t">Yes</option>
		<option value="f">No</option>
	</select>
   
   <div ng-if="false" ng-show="group.canwps === 't'">
		<label>Proactive account</label>
		<select ng-model="group.proactive"
				ng-options="account.login for account in proactiveAccounts track by account.id">
			<option></option>
		</select>
	</div>
	
	<div class="margin-top-10 center">
	    <button type="submit" class="button radius" ng-click="createGroup()">{{'create group'| translate}}</button>
	</div>

	<div class="logMessage">
		<span class="successLog">{{successMessage}}</span>
		<span class="errorLog">{{errorMessage}}</span>
	</div>
	
</div>
