<div class="padding-left-15 padding-right-15">

	<div class="row">
		<div class="large-6 small-12 columns">
			<h1 class="margin-0">Update group {{group.groupname}}</h1>
		</div>
		<div class="large-6 small-12 columns text-right">
			<a class="button alert" ng-click="deleteGroup()">{{'Delete group'| translate}}</a>
		</div>
	</div>
	
	<label>{{'Name'| translate}}</label>
	<input type="text" name="groupname" ng-model="group.groupname" required>

	<span>{{'Description'| translate}}</span>
	<input type="text" name="description" ng-model="group.description">

	<label>WPS?</label>
	<select name="canwps" ng-model="group.canwps">
		<option value="t">Yes</option>
		<option value="f">No</option>
	</select>

	<label>Proactive account</label>
	<select ng-model="group.proactive"
			ng-options="account.login for account in proactiveAccounts track by account.id">
		<option></option>
	</select>
	
	<div class="margin-top-10 center">
		<button class="button" ng-click="saveGroup()">{{'Save group'| translate}}</button>
	</div>
	
	<div class="logMessage">
		<span class="successLog">{{successMessage}}</span>
		<span class="errorLog">{{errorMessage}}</span>
	</div>
	
</div>
